@charset "UTF-8";

body {
  margin: 0;
}

.slide__conatiner {
  position: relative;
  overflow: hidden;
}

.slide__list {
  height: 100%;
  overflow: hidden;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 100%;
  box-sizing: border-box;
}

/* btn control */
.slide__controler {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.slide__controler button {
  position: absolute;
  top: 0;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.slide__controler .btn__prev {
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
}

.slide__controler button {
  color: gray;
}

.slide__controler .btn__next {
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
}
